
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Onest',sans-serif;
}

body{
     background: #111;
     font-weight: 400;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
}

.container{
     width: 450px;
     height: auto;
     background: #1a1a1a;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     padding: 30px 30px;
     gap: 20px;
     border-radius: 20px;
     box-shadow: 0 4px 1px rgba(0,0,0,0.1);
}

.headings{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
}

.headings svg{
     margin-top: 7px;
}

.headings h1{
     color: #fff;
     font-weight: 700;
     text-align: center;
}

h2{
     font-weight: 400;
}

.input-box{
     width: 100%;
     height: 48px;
     display: flex;
     justify-content: space-evenly;
     gap: 10px;
}

.input-box input{
     width: 70%;
     outline: none;
     border: 0;
     padding: 0 15px;
     font-size: 16px;
     background-color: transparent;
     border: 1px solid rgba(255,255,255,0.3);
     color: #fff;
     border-radius: 20px;
     transition: border-color .5s;
}

/* .input-box input{
     caret-color: rgba(255,255,255,0.2);
} */

::placeholder{
     color: rgba(255,255,255,0.6);
     font-weight: 400;
}

.input-box button{
     width: 30%;
     outline: none;
     border: 0;
     font-size: 16px;
     background: royalblue;
     color: #fff;
     border-radius: 20px;
     cursor: pointer;
}


.main-container{
     width: 100%;
     display: flex;
     flex-direction: column;
     margin: 0 0 0 10px;
     gap: 25px;
     color: #fff;
}

.main-container h2{
     text-align: center;
     color: royalblue;
     font-weight: 600;
}

.main-container p{
     font-size: 17px;
     font-weight: 450;
}

.main-container p a{
     font-size: 15px;
     color: royalblue;
     text-decoration: none;
}

.main-container p a:hover{
     text-decoration: underline;
}

.main-container p svg{
     vertical-align: middle;
}

.word-container{
     width: 100%;
     display: flex;
     gap: 20px;
     align-items: center;
}

.mic{
     width: 40px;
     height: 40px;
     background: royalblue;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50px;
     cursor: pointer;
}

@media (max-width:600px){
     .container{
          width: 95%;
          height: auto;
          padding: 30px 20px;
     }

     .input-box{
          width: 100%;
          height: auto;
          flex-direction: column;
     }

     .input-box input{
          width: 100%;
          padding: 15px 15px;
     }

     .input-box button{
          width: 100%;
          padding: 17px 15px;
     }
}

